## Database
DATABASE_URL="postgres://admin:root@localhost:5432/coursefy?schema=public"

## AWS
AWS_REGION=us-east-1
AWS_S3_ENDPOINT=http://'Server Ip':9000
AWS_S3_BUCKET_NAME=coursefy
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin123
